body { margin: 0; padding: 0; }
body.dark { background: rgba(0,0,0,.4); }


#hamburger-wrapper {
  float: right;
  margin-top: -30px;
}
#hamburger {
  cursor: pointer;
  font-size: 3em;
}
#close-sidenav {
  cursor: pointer;
  font-size: 3em;
  margin-top: -10px;
  float: right;
}
#sidenav {
  height: 100%; width: 200px;
  top: 0; right: -200px;
  background: black;
  position: fixed;
  transition: 0.4s;
}
#sidenav ul { margin: 0; padding: 0; list-style-type: none; }
#sidenav header, a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 1em;
}
#sidenav header { background: teal; }
#sidenav a:hover { background: gray; }


#slideshow{
border:0.1em solid #cccccc; 
width:300px; 
right:-300px; 
position:absolute; 
background-color:white;
} 


    
}
.classTop{
  height: 100px;
}
.classdown{
  height: 100px;
}

